yolk
fabric==1.4.1
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.12
coverage==2.78
dm.reuse==1.0
python-rrdtool==1.4.7
decorator==3.3.1
eggtestinfo==0.2.2
epydoc==3.0.1
eventlet==0.9.13
httplib2==0.7.1
ipaddr==2.1.10   # 2.1.9 in trunk
kombu==2.4.5
MySQL-python==1.2.3
poster==0.6.0
#psycopg2==2.4.2   # Needed?  
pyasn1==0.0.11a
pycrypto==2.6 # 2.0.1 is ancient and breaks fabric
pyparsing==1.5.5
python-dateutil==2.1
python-ldap==2.3.13
python-memcached==1.47
pyxml==0.8.4
python-nmap # python-nmap     - 0.2.4        - active     source looks for 6.0.1???
five.localsitemanager==2.0.4
six==1.1.0
Sphinx==1.1.2
suds==0.4
Products.AdvancedQuery==3.0.3
Products.CMFCore==2.2.4
Products.GenericSetup==1.6.3
Products.ManagableIndex==2.1.5
Products.OFolder==2.0.1
Products.PluggableAuthService==1.7.1
Products.PluginRegistry==1.2
AccessControl==2.13.7
Acquisition==2.13.8
DateTime==3.0
DocumentTemplate==2.13.2
docutils==0.8.1
ExtensionClass==4.0a1
initgroups==2.13.0
manuel==1.1.1
mechanize==0.2.5
Missing==2.13.1
MultiMapping==2.13.0
Persistence==2.13.2
Products.BTreeFolder2==2.13.4
Products.ExternalMethod==2.13.0
Products.MailHost==2.13.1
Products.MIMETools==2.13.0
Products.OFSP==2.13.2
Products.PythonScripts==2.13.0
Products.StandardCacheManagers==2.13.0
Products.ZCatalog==2.13.22
Products.ZSQLMethods==2.13.4
pytz==2012c
Record==2.13.0
RestrictedPython==3.6.0
tempstorage==2.12.1
transaction==1.2.0
zc.lockfile==1.0.0
ZConfig==2.9.2
zdaemon==2.0.4
zExceptions==2.13.0
zLOG==2.11.1
ZODB3==3.10.5
zope.annotation==3.5.0
zope.broken==3.6.0
zope.browser==1.3
zope.browsermenu==3.9.1
zope.browserpage==3.12.2
zope.browserresource==3.12.0
zope.component==3.12.1
zope.configuration==3.8.0
zope.container==3.12.0
zope.contentprovider==3.7.2
zope.contenttype==3.5.5
zope.datetime==3.4.0
zope.deferredimport==3.5.3
zope.dottedname==3.4.6
zope.event==3.5.2
zope.exceptions==3.7.1
zope.filerepresentation==3.6.1
zope.formlib==4.0.5
zope.i18n==3.8.0
zope.i18nmessageid==3.6.1
zope.interface==3.8.0
zope.lifecycleevent==3.7.0
zope.location==3.9.1
zope.pagetemplate==3.6.3
zope.processlifetime==1.0
zope.proxy==3.6.1
zope.ptresource==3.9.0
zope.publisher==3.13.0
zope.schema==4.1.1
zope.security==3.8.3
zope.sendmail==3.7.4
zope.sequencesort==3.4.0
zope.site==3.9.2
zope.size==3.5.0
zope.structuredtext==3.5.1
zope.tal==3.6.1
zope.tales==3.5.1
zope.testbrowser==4.0.2
zope.testing==4.1.1
zope.traversing==3.14.0
ZopeUndo==2.12.0
zope.viewlet==3.7.2
file:##PWD##/inst/externallibs/zenpacksupport-1.0.tar.gz
file:##PWD##/inst/externallibs/ZSI-2.0.tar.gz
file:##PWD##/inst/externallibs/sitecustomize-1.2.tar.gz
file:##PWD##/inst/externallibs/zope-app-compat-1.0.tar.gz
file:##PWD##/inst/externallibs/zenoss.extjs-4.1.0-r57826.tar.gz
file:##PWD##/inst/externallibs/Yapps-2.1.1.tar.gz
file:##PWD##/inst/externallibs/pynetsnmp-0.30.06.tar.gz
file:##PWD##/inst/externallibs/petehunt-PyMySQL-fecc4a6.zip
file:##PWD##/inst/zenoss-version
file:##PWD##/Build/celery-3.0.9.tar.gz
file:##PWD##/Build/greenlet-0.3.1.tar.gz
file:##PWD##/Build/lxml-2.3.tar.gz
file:##PWD##/Build/networkx-1.3.tar.gz
file:##PWD##/Build/pyip-0.7.tar.gz
file:##PWD##/Build/pyOpenSSL-0.13.tar.gz
file:##PWD##/Build/PyXML-0.8.4.tar.gz
file:##PWD##/Build/RelStorage-1.5.1.tar.gz
file:##PWD##/Build/Twisted-11.0.0.tar.bz2
file:##PWD##/Build/txAMQP-0.3.tar.gz
file:##PWD##/Build/urllib3-1.3.tar.gz
file:##PWD##/Build/Zope2-2.13.13.zip
